---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Divider from '../components/Divider.astro';
import Expertise from '../components/Expertise.astro';
import { fetchGraphQL } from '../utils/fetch-graphql';
import { StructuredText } from '@datocms/astro/StructuredText';
import { HOMEPAGE_QUERY, type HomepageContent } from '../queries/homepage';
import LabIcon from '../images/web-icon.svg';
import ShoppingBagIcon from '../images/shopping-bag.svg';
import SupportIcon from '../images/support.svg';
import MaskIcon from '../images/mask.svg';

const variables = { locale: 'en' };
const data = await fetchGraphQL<HomepageContent>(HOMEPAGE_QUERY, variables);
const callout = data.homepage.content[0].content;
const expertiseItems = [
    { title: 'Custom Web Development', icon: LabIcon },
    { title: 'E-Commerce Solutions', icon: ShoppingBagIcon },
    { title: 'Maintenance & Support', icon: SupportIcon },
    { title: 'White-Label Services', icon: MaskIcon },
];

---

<Layout title="Welcome to ElPuas Digital Crafts">
    <main>
        <Hero buttonHref="/about" buttonLabel="Get Started">
            <h1 class="h5">Crafting Unique Experiences</h1>
            <p>We Code Digital Crafts <strong>for</strong> Humans</p>
        </Hero>
        <Divider position="right" />
        <section class="callout dots-pattern">
            <StructuredText data={callout} />
        </section>
        <Expertise title="Our Expertise" items={expertiseItems} />
	</main>
</Layout>

<style>
    .callout {
        text-align: center;
        position: relative;
        width: 100%;

        &::before {
            left: 0;
            top: -16px;
        }
        &::after {
            right: 10%;
            bottom: -42px;
        }
        h2,
        h2 strong {
            font-size: var(--elpuas-preset-fontsize-h3);
        }
    }
</style>
