---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Welcome to ElPuas Digital Crafts">
	<main>
		<section class="homepage-hero">
			<h1 class="h5">Crafting Unique Experiences</h1>
			<p>We Code Digital Crafts for Humans</p>
			<Button href="/about" className="primary" label="Learn More" />
		</section>
	</main>
</Layout>

<style>
	.homepage-hero {
        display: flex;
        flex-direction: column;
        margin: var(--elpuas-preset-margin-xxxl-large) 0;

        .h5 {
            text-transform: uppercase;
            font-weight: var(--elpuas-preset-fontweight-regular);
            letter-spacing: normal;
        }

        p,
        strong {
            font-size: var(--elpuas-preset-fontsize-h1);
            font-weight: var(--elpuas-preset-fontweight-bold);
            letter-spacing: -3.5px;
            line-height: 1.25;
            margin: var(--elpuas-preset-margin-xl) 0;
        }
        strong {
            color: var(--elpuas-preset-color-secondary);
        }
	}
</style>
