---
import { Image } from 'astro:assets';

interface Props {
    title: string; 
    items: Array<{
        title: string;
        icon: any;
    }>;
}

const { title, items } = Astro.props;
---

<section class="expertise-section">
    <h2>{title}</h2>
    <div class="expertise-grid">
        {items.map((item) => (
            <div class="expertise-item">
            <Image src={item.icon} alt={item.title} class="expertise-icon" />
            <p>{item.title}</p>
            </div>
        ))}
    </div>
</section>

<style>
    .expertise-section {
        text-align: center;
        color: var(--elpuas-preset-color-secondary);
        padding: 2rem;
        max-width: 60%;
        margin-top: 113px;

        h2 {
            font-size: var(--elpuas-preset-fontsize-h3);
            margin-bottom: 2rem;
        }

        .expertise-grid {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 2rem;
        }

        .expertise-item {
            width: 120px;
            text-align: center;
        }

        .expertise-icon {
            width: 100%;
            object-fit: contain;
            margin-bottom: 1rem;
        }
    }
</style>