---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import { fetchGraphQL } from '../../utils/fetch-graphql';
import { StructuredText } from '@datocms/astro/StructuredText';
import { HOMEPAGE_QUERY, type HomepageContent } from '../../queries/homepage';

const variables = { locale: 'es' };

const data = await fetchGraphQL<HomepageContent>(HOMEPAGE_QUERY, variables);

const callout = data.homepage.content[0].content;
---

<Layout title="Bienvenidos a ElPuas Digital Crafts">
    <main>
        <Hero buttonHref="/es/about" buttonLabel="Conoce más">
            <h1 class="h5">Creando Experiencias Digitales</h1>
            <p>Diseñamos Soluciones <strong>con</strong> un Toque Humano</p>
        </Hero>
        <section class="callout dots-pattern">
            <StructuredText data={callout} />
        </section>
    </main>
</Layout>

<style>
    .callout {
        container-type: inline-size;
        margin: var(--elpuas-preset-margin-xxl-large) 0;
        text-align: center;
        position: relative;

        &::before {
            left: 0;
            top: -16px;
        }

        &::after {
            right: 10%;
            bottom: -42px;
        }

        h2,
        h2 strong {
            font-size: var(--elpuas-preset-fontsize-h3);
        }
    }
</style>
