---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
const description = "ElPuas Digital Crafts is a digital agency that specializes in crafting digital experiences for businesses and individuals. We are a team of creatives, developers, and designers who are passionate about creating beautiful and functional websites, applications, and digital products.";
const image = "/placeholder.png";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title ? title : "ElPuas Digital Crafts"} description={description } image={image} />
	</head>
	<body>
		<Header />
		<slot />
		<script>
			import '../scripts/menu.js';
		</script>
	</body>
</html>
<style is:global>
	
</style>
